<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="root"></div>
  <!-- <script src="http://127.0.0.1:8001/water-mark.js"></script> -->
  <script>
    /*
    window.createWaterMark({
      text: "赛可出行-liangrongjun",
      className: "watermark-saic"
    });
    window.createWaterMark({
      text: "享道出行-luozuojia",
      className: "watermark-xiagndao",
      globalAlpha: 0.5,
      // fillStyle: "green",
      // style: "position: fixed;top: 10px;right: 10px;bottom: 0px;left: 0px;pointer-events: none;background-repeat: repeat;"
    });
    */
  </script>
</body>
</html>